* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    list-style-type: none;
}
nav ul {
    
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: left;

}
li {
    padding: 5px 0;
}
li a {
    text-decoration: none;
    font-size: 1.9em;
    color: #a7c957;
    text-shadow: 2px 2px 4px black;
    font-family: "Staatliches", cursive;
    letter-spacing: 1px;
    
}
li a:hover {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
  color: #287428;
}

#logo {
  display: block;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #a68a64;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header {
    display: flex;
}
nav {
  background-color: #936639;
  position: fixed;
  height: 100vh;
  width: 200px;
  z-index: 3;
}
#loginSide {
  background-color: #d9ed92;
  flex: 1;
}
#registerSide {
  background-color: #a68a64;
  flex: 1;
}
#registerSide form, #loginSide form {
    display: flex;
    flex-direction: column;
    
}
main {
    
    margin-left: 200px;
    height: 100vh;
}
.forms {
    display: flex;
    
    height: 100vh;
    
}
form {
  width: 300px;
  border: 2px #936639 solid;
  border-radius: 5px;
  background-color: #faedcd;
  padding: 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    
}
h3 {
    margin-bottom: 20px;
}
.form-wrapper h3 {
  color: #a7c957;
  font-family: "Staatliches", cursive;
  letter-spacing: 10px;
  font-size: 2em;
  text-shadow: 2px 2px 4px black;
}
input {
    width: 250px;
    height: 2.5em;
    padding: 3%;
}
form div input, form label, #add-user-form input, #addPhotoButton, #desc {
    margin: 5px 20px;
}
form button {
    
    width: 50%;
  margin: 5px 20px;
  padding: 7px;
  background-color: #a7c957;
  border: 2px #936639 solid;
  border-radius: 5px;
  color: #936639;
  font-family: "Staatliches", cursive;
  letter-spacing: 5px;
  font-size: 20px;
}
#top div{
    width: 100%;
    height: 200px;
    background-image: url(../media/pexels-luis-del-río-15286.jpg);
    filter: blur(3px);
  z-index: 1;
}

article {
    margin: 40px;
    border: black 1px solid;
    padding: 10px;
}
.picData {
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
}
#articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 300px;
    
}
.u-non-blurred{
    
    z-index: 1;
    position: relative;
}
#articles li {
    margin: 40px 20px;
    padding: 10px;
    border: black 1px solid;
    background-color: white;
}
#map {
  width: 100%;
  height: 30rem;
}
.background-filter::after {
  -webkit-backdrop-filter: blur(5px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(5px); /* Supported in Chrome 76 */

  content: "";
  display: block;
  position: fixed;
  width: 100%; height: 100%;
  top: 0;
}

.background-filter {
  position: relative;
}
#frontMain {
  background-image: url(../media/pexels-luis-del-río-15286.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* #frontMain::after {
    filter: blur(8px);
    -webkit-filter: blur(5px);
    height: 100%;
    position: absolute;
} */
#likedMain {
  background-image: url(../media/nature2.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

