* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    list-style-type: none;
}
nav ul {
    
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: left;

}
li {
    padding: 5px 0;
}
li a {
    text-decoration: none;
    font-size: 1.9em;
    color: #a7c957;
    text-shadow: 2px 2px 4px black;
    font-family: "Staatliches", cursive;
    letter-spacing: 1px;
    
}
li a:hover {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
  color: #287428;
}

#logo {
  display: block;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #a68a64;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header {
    display: flex;
}
nav {
  background-color: #936639;
  position: fixed;
  height: 100vh;
  width: 200px;
  z-index: 3;
}
#nav-search input{
  width: auto;
}
#loginSide {
  background-color: #d9ed92;
  flex: 1;
}
#registerSide {
  background-color: #a68a64;
  flex: 1;
}
#registerSide form, #loginSide form {
    display: flex;
    flex-direction: column;
    
}
main {
    background-color: #d9ed92;
    margin-left: 200px;
    height: 100vh;
}
.forms {
    display: flex;
    
    height: 100vh;
    
}
.forms-norm {
  width: 300px;
  border: 2px #936639 solid;
  border-radius: 5px;
  background-color: #faedcd;
  padding: 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
    flex-direction: column;
    align-items: center;
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    
}
h3 {
    margin-bottom: 20px;
}
.form-wrapper h3 {
  color: #a7c957;
  font-family: "Staatliches", cursive;
  letter-spacing: 10px;
  font-size: 2em;
  text-shadow: 2px 2px 4px black;
  text-align: center;
}

input {
    width: 250px;
    height: 2.5em;
    padding: 3%;
}
form div input, form label, #add-user-form input, #addPhotoButton, #desc {
    margin: 5px 20px;
}
form button {
    
    width: 130px;
  margin: 5px 20px;
  padding: 7px;
  background-color: #a7c957;
  border: 2px #936639 solid;
  border-radius: 5px;
  color: #936639;
  font-family: "Staatliches", cursive;
  letter-spacing: 5px;
  font-size: 20px;
}
form button:hover {
  background-color: #287428;
  color: #a7c957;
}
form button:active {
  background-color: #287428;
  box-shadow: 4px 4px 4px rgb(172, 172, 172);
  color: #a7c957;
  transform: translateY(2px);
}
#searchButton:active {
  background-color: #287428;
  border: 0;
  box-shadow: 2px 2px 6px rgb(61, 61, 61);
  color: #a7c957;
  transform: translateY(0);
}
#top div{
    width: 100%;
    height: 200px;
    background-image: url(../media/pexels-luis-del-río-15286.jpg);
    filter: blur(3px);
  z-index: 1;
}
#container {
  padding: 3em
}
#random {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  
    background-color: #a7c957;
    margin: auto;
    border: black 1px solid;
    padding: 10px;
}
.picData {
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
}
#articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 300px;
    
}
#search-form {
  margin: auto;
  
}
#random img {
  
  max-width: 100%;
  max-height: 80vh;
}

#info-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.u-non-blurred{
    
    z-index: 1;
    position: relative;
}
#articles li {
    margin: 40px 20px;
    padding: 10px;
    border: black 1px solid;
    background-color: #a7c957;
}
#articles h2,
#random h2 {
  font-family: "Staatliches", cursive;
  letter-spacing: 5px;
  font-size: 30px;
}
.fa-thumbs-up {
  font-size: 30px;
  float: right;
}
.fa-thumbs-up:hover {
  font-size: 30px;
  color: #287428;
}
.fa-thumbs-up:active {
  font-size: 30px;
  color: #194d19;
  transform: translateY(2px);
}
#map {
  max-width: 90%;
  max-height: 35vh;
  margin: auto;
  margin-top: 10px;
  height: 30rem;
}
.background-filter::after {
  -webkit-backdrop-filter: blur(5px); 
  backdrop-filter: blur(5px); 

  content: "";
  display: block;
  position: fixed;
  width: 100%; height: 100%;
  top: 0;
}

.background-filter {
  position: relative;
}
#frontMain {
  background-image: url(../media/pexels-luis-del-río-15286.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#likedMain {
  background-image: url(../media/nature2.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}#singleMain {
  background-image: url(../media/nature3.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#addMain {
  background-image: url(../media/nature7.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#randomMain {
  background-image: url(../media/nature8.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#modMain {
  background-image: url(../media/nature9.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#image {
  width: 50%;
  min-height: 100vh;
  margin: auto;
  background-color: #a7c957;
  
}
#goBack {
  text-decoration: 0;
  background-color: #a7c957;
  padding: 10px;
  font-family: "Staatliches", cursive;
  letter-spacing: 4px;
  font-size: 25px;
  color: #287428;
  border-radius: 0px 0px 10px 0px;
  border-bottom: 3px #936639 solid;
  border-right: 3px #936639 solid;
  position: fixed;
}
#singlePhoto {
  max-height: 55vh;
  max-width: 100%;
  display: block;
  margin: auto;
  padding: 1em;
}
.button1 {
  font-size: 20px;
  margin: 0 0.1em;
  color: black;
  background-color: #936639;
  padding: 3px;
  font-family: "Staatliches", cursive;
  color: #a7c957;
  border-radius: 5px;
}
